body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

.header {
    background: #222;
    color: white;
    padding: 25px;
    text-align: center;
    margin-bottom: 30px;
}


.header h1 {
    margin: 0;
    font-size: 32px;
}

.header p {
    margin-top: 8px;
    font-size: 14px;
    color: #ddd;
}

form {
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    font-size: 18px;
}

.task-list {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: auto;
}

.task-list li {
    background: #f3f3f3;
    padding: 12px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
}

.task-list li.done {
    text-decoration: line-through;
    color: gray;
    background: #e0e0e0;
}

.task-list a {
    margin-left: 10px;
    text-decoration: none;
    font-size: 18px;
}
